//    Font Family
$primary-font: 'Roboto', sans-serif;
$title-font: 'Rubik', sans-serif;
/*--------------------------- Color variations ----------------------*/

$primary-color: #00adf0;
$primary-color1: #00adf0;
$title-color: #415094;
$text-color: #828bb2;
$white: #fff;
$offwhite: #f9f9ff;
$black: #000;
